/* Global resets */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* General structure */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 680px;
  margin: .5em;
  padding: 2em 2.5em;
  background-color: #FDFDFD;
  font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
  color: #777;
  line-height: 1.4;
  text-align: center;
}

main {
  padding: 1.5em 1.5em 1.3em 1.5em;
  border: 2px solid #E1E1E1;
  box-shadow: 0 3px #F3F3F3;
  font-size: 1.7em;
  text-align: left;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1.5em;
}

/* Header classes */
.text-box {
  padding: 1em;
  border-radius: 5px;
  background-color: #424242;
  font-size: 1.8em;
}

.arrow {
  width: 0;
  height: 0;
  margin: 0 0 .5em 32em;
  border-left: .7em solid transparent;
  border-right: .7em solid transparent;
  border-top: .9em solid #424242;
}

/* Content classes */
.progress-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: -1.5em -1.5em -.3em -1.5em;
  box-shadow: 0 2px #E1E1E1;
  background-color: #EF6A3E;
  line-height: .9;
}

.remaining-bar {
  padding-right: 6em;
  background-color: #FAFAFA;
}

.donate-container {
  display: flex;
  justify-content: space-between;
  margin: 1em 0 1em 0;
  text-align: left;
}

.donate-box {
  width: 47%;
  padding: .75em;
  font-size: 1.2em;
}

.gray-border {
  border: 2px solid #E1E1E1;
  border-radius: 5px;
}

.submit-btn {
  background-color: #1CBC2C;
  border: 2px solid #1BB22B;
  border-radius: 5px;
  box-shadow: 1px 1.5px #1BB22B;
  text-align: center;
}

.action-box {
  background-color: #FAFAFA;
  width: 47%;
  padding: .7em;
  box-shadow: 1px 2px #E1E1E1;
  font-size: 1.7em;
  font-weight: bold;
  text-align: center;
}

/* Text Modification Classes */
.white-text {
  color: #FBFBFB;
}

.orange-text {
  color: #EF5F3C;
}

.blue-text {
  color: #21A8DE;
  font-style: italic;
  font-weight: 550;
  line-height: 1;
}

.black-text {
  color: #424242;
}
